$navcolor:#469DAF;

body{
    margin-top: 90px;
}

.navbar{
    box-shadow: 2px 2px 5px $navcolor;
    background-color: white;
    opacity: 0.9;
    

    .navbar-nav{
        margin-left:auto ;
        .nav-link{
            font-size: 22px;
            color: black;
            margin-right: 20px;
        } 
         .nav-link:hover{
            font-size: 22px;
            color: $navcolor;
            margin-right: 20px;
        }
    }
}
#hero{
    background-image: url(../img/mountains.jpg);
    .hero-overly{
        background-color: rgba(0, 0, 255, 0.699);
    }
}
.arfin{
    display: block;
    width: 100%;
    
}

#testimonial-card{
    img{
        margin-top: -70px;
    }
}

#testimonial-card{
    .card:hover{
        background-color: blue;
        color: white;
        i{
            color: white;
        }
    }
}

#contract{
    .btn{
        display: block;
    }
}